* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url("./fonts/Montserrat-Medium.eot");
  src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Medium.woff") format("woff"), url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("./fonts/Montserrat-SemiBold.eot");
  src: url("./fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-SemiBold.woff") format("woff"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("./fonts/Montserrat-ExtraBold.eot");
  src: url("./fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-ExtraBold.woff") format("woff"), url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Black';
  src: url("./fonts/Montserrat-Black.eot");
  src: url("./fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Black.woff") format("woff"), url("./fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-hor {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-ver {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
}

.flex-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  font-family: 'Montserrat Bold';
  font-size: 4.8rem;
  line-height: 52px;
  color: #2948D7;
}

h2 {
  font-family: 'Montserrat Bold';
  font-size: 3rem;
  color: #111328;
}

h3 {
  font-family: 'Montserrat Semibold';
  font-size: 1.6rem;
  color: #111328;
}

h3.big {
  font-family: 'Montserrat Black';
  font-size: 3rem;
  color: rgba(23, 32, 63, 0.1);
}

p {
  font-family: 'Montserrat Regular';
  font-size: 1.6rem;
  line-height: 15px;
  color: #282A3E;
}

p.medium {
  font-size: 1.4rem;
}

p.small {
  font-size: 1.2rem;
}

p.big {
  font-size: 2.4rem;
}

p.alert {
  color: #C45858;
}

a {
  font-family: 'Montserrat Regular';
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #757891;
}

a.semibold {
  font-family: 'Montserrat Semibold';
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  font-family: 'Montserrat Bold';
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 1em 2em;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #4DD37D;
  color: #FFFFFF;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: #48EF84;
  box-shadow: 10px 10px rgba(13, 23, 29, 0.1);
}

.btn:active {
  background-color: #2BC662;
}

.btn--big-height {
  margin-top: 43px;
}

.owl-item.active.center .review-elem,
.owl-item.active.center .news-elem {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

section {
  width: 1100px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
}

nav {
  position: relative;
  z-index: 1;
  width: 400px;
  margin-right: 48px;
}

.nav-l--p {
  margin-top: -10px;
  margin-left: 15px;
}

.nav-r a {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav-r a:hover,
.nav-r a:focus {
  color: #1CE564;
}

.nav-r a:hover .number-img:before,
.nav-r a:focus .number-img:before {
  background-color: #4565F8;
}

.nav-r a:active {
  color: #15BB50;
}

.nav-r a:active .number-img:before {
  background-color: #2039AB;
}

.number {
  width: 199px;
}

.number-img {
  position: relative;
}

.number-img img {
  position: relative;
  z-index: 1;
}

.number-img:before {
  content: '';
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #2948D7;
  z-index: 0;
  top: -11px;
  right: -10px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.first-slide {
  position: relative;
  margin: 20% 0 0 13%;
}

.first-slide-content {
  position: relative;
  z-index: 2;
}

.first-slide--clouds {
  position: absolute;
  top: -35%;
  left: -30%;
  z-index: 1;
}

.first-slide--bg {
  margin-top: -10%;
  width: 100%;
}

.advantages--first-slide {
  margin-top: -2%;
  margin-bottom: 15%;
}

.advantages-top img {
  width: 62px !important;
}

.advantages-elem {
  position: relative;
  padding: 12px 17px;
  width: 192px;
  height: 152px;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(24, 33, 43, 0.12);
  border-radius: 15px;
}

.advantages-elem:hover,
.advantages-elem:focus {
  margin-top: -10px;
}

.advantages-elem--p {
  margin-top: 12px;
}

.advantages-only {
  position: absolute;
  top: 15px;
  right: 0;
}

.advantages-only p {
  display: inline-block;
  background-color: #5F76E3;
  border-radius: 5px 0 0 5px;
  padding: .6em .8em;
  font-family: 'Montserrat Semibold';
  font-size: 1.2rem;
  color: #FFFFFF;
}

.card-slide--wrapper {
  background-color: #F7F8FD;
  padding: 110px 0;
}

.card-slide--top h3 {
  white-space: nowrap;
  margin-left: 12px;
}

.card-slide--dawn {
  margin-top: 46px;
}

.card-slide--elem {
  min-height: 329px;
  width: 32%;
  padding: 30px 56px;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
}

.card-slide--elem img {
  width: 100%;
  margin: 16px 0 30px;
}

.card-slide--elem a.btn {
  font-size: 1.4rem;
  padding: 1.2em 2em;
}

.card-elem {
  z-index: 1;
}

.card-elem--hover {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  padding: 22px 56px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.card-elem--hover li {
  position: relative;
  margin-top: 22px;
  margin-left: 20px;
}

.card-elem--hover li::before {
  position: absolute;
  content: '';
  top: 5px;
  left: -25px;
  width: 11px;
  border: 2px solid #1CE564;
  border-radius: 15px;
}

.card-info {
  font-family: 'Montserrat Medium';
  font-size: 1.2rem;
  text-decoration: underline;
  color: #438CD0;
}

.card-info:hover + .card-elem--hover,
.card-info:focus + .card-elem--hover,
.card-elem--hover:hover,
.card-elem--hover:focus {
  top: 0%;
}

.step-wrapper {
  padding: 110px 0;
}

.step {
  position: relative;
}

.step--dawn {
  margin-top: 46px;
}

.step-elem {
  width: 207px;
  min-height: 475px;
  position: relative;
  z-index: 1;
}

.step-elem h3 {
  margin: 11px 0 15px;
}

.step-elem a.btn {
  margin-top: 26px;
  text-align: center;
}

.step-elem--img {
  position: relative;
  height: 332px;
}

.step-elem--img img {
  position: absolute;
  bottom: 0;
}

.step--clouds {
  position: absolute;
  top: 0;
  left: -13%;
}

.activation-wrapper {
  padding: 110px 0;
  background-color: #F7F8FD;
}

.activation-top--right p:nth-child(2) {
  margin: 12px 0 20px;
}

.activation-top--left h2 {
  margin-bottom: 31px;
}

.activation--dawn {
  margin-top: 23px;
}

.activation-elem {
  width: 197px;
  min-height: 344px;
  padding: 0 17px 17px;
  background: #FFFFFF;
  border-radius: 15px;
}

.activation-elem--img {
  position: relative;
  height: 191px;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.activation-elem--content h3 {
  margin: 20px 0 12px;
}

.info-wrapper {
  padding: 110px 0;
}

.info-elem {
  position: relative;
  margin-bottom: 110px;
}

.info-elem:last-child {
  margin-bottom: 0;
}

.info-elem--img {
  position: absolute;
  top: 0;
  right: 0;
}

.info-elem--content {
  width: 51%;
}

.info-elem--content span {
  display: inline-block;
  font-family: 'Montserrat Medium';
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #A1A2AC;
}

.info-elem--content h3 {
  font-family: 'Montserrat Bold';
  font-size: 3rem;
  margin: 22px 0 30px;
  color: #111328;
}

.info-elem--content p {
  line-height: 26px;
}

.info-elem--content a.btn {
  margin-top: 44px;
}

.info-elem--reverse .info-elem--content {
  margin-left: auto;
}

.info-elem--reverse .info-elem--img {
  left: 0;
  right: auto;
}

.facts-wrapper {
  background-color: #F7F8FD;
  padding: 110px 0;
}

.facts-container {
  background: #FFFFFF;
  border-radius: 15px;
  margin: 35px 0;
  padding: 40px 25px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fact-elem {
  position: relative;
  width: 45%;
  min-width: 300px;
  margin-bottom: 44px;
}

.fact-elem--img {
  width: 82px;
}

.fact-elem--content {
  width: 420px;
}

.fact-elem--content h3 {
  margin-bottom: 6px;
}

.social-left {
  width: 450px;
}

.social-left p {
  margin: 25px 0 35px;
}

.social-right {
  background: #F7F8FD;
  border-radius: 15px;
  width: 618px;
  padding: 50px;
}

.social-right h3 {
  font-size: 2.4rem;
  margin-bottom: 25px;
}

.social-right p {
  line-height: 26px;
  margin: 25px 0 30px;
}

.social-wrapper {
  padding: 110px 0;
}

.social-media {
  width: 450px;
}

.social-media ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-media ul .ya-share2__title {
  display: none;
}

.ya-share2__item {
  background-repeat: no-repeat;
  width: 40px;
  height: 22px;
  cursor: pointer;
}

.ya-share2__item_service_twitter {
  background-image: url(./img/twitter.svg);
}

.ya-share2__item_service_facebook {
  background-image: url(./img/facebook.svg);
}

.ya-share2__item_service_vkontakte {
  background-image: url(./img/vk.svg);
}

.ya-share2__item_service_odnoklassniki {
  background-image: url(./img/ok.svg);
}

.ya-share2__item_service_telegram {
  background-image: url(./img/telegram.svg);
}

.ya-share2__item_service_whatsapp {
  margin-top: -5px;
  background-image: url(./img/whatsapp.svg);
}

.all-wrapper {
  background-color: #F7F8FD;
  padding: 110px 0;
}

.all p {
  width: 547px;
  line-height: 26px;
  margin: 22px 0 34px;
}

.all-section .advantages-elem {
  width: 255px;
  box-shadow: none;
}

.faq-wrapper {
  padding: 110px 0;
}

input[type="checkbox"] {
  display: none;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.faq-title {
  background: #F7F8FD;
  border-radius: 15px;
  width: 100%;
  padding: 7px 10px 7px 24px;
  margin-bottom: 22px;
  cursor: pointer;
}

.faq-title img {
  outline: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.faq-title h3 {
  font-size: 18px;
}

.faq-dawn {
  margin-top: 46px;
}

.faq-text {
  height: 0px;
  opacity: 0;
  width: 800px;
  margin: 20px 0 0 40px;
  line-height: 26px;
  overflow: hidden;
  display: block;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.faq-title img {
  width: 42px;
  height: 42px;
}

input[type="checkbox"]:checked + div .faq-title img {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + div .faq-text {
  height: auto;
  opacity: 1;
  margin-bottom: 22px;
}

.review-wrapper {
  padding: 110px 0;
  background-color: #F7F8FD;
}

.review-top {
  margin-bottom: 46px;
}

.review-elem {
  width: 350px;
  padding: 21px;
  background: #FFFFFF;
  border-radius: 15px;
  margin: 10px;
}

.review-elem img {
  width: 100%;
}

.review-elem--content {
  margin-top: 20px;
}

.review-elem--content span {
  display: inline-block;
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 26px;
  color: #282A3E;
  margin-right: 10px;
}

.review-elem--content p {
  font-family: 'Montserrat Semibold';
  font-size: 14px;
}

#reviewNavContainer {
  width: 100%;
  position: relative;
}

.owl-prev {
  position: absolute;
  font-size: 0px;
  outline: none;
  background-color: #F7F8FD;
  border: none;
  left: -100px;
  top: 100px;
  cursor: pointer;
  height: 50px;
}

.owl-prev span {
  position: relative;
  display: block;
  background-image: url(./img/prev.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: -33px;
  left: 18px;
}

.owl-prev::before {
  position: relative;
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0px 4px 16px rgba(24, 33, 43, 0.12);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.owl-next {
  position: absolute;
  font-size: 0px;
  outline: none;
  background-color: #F7F8FD;
  border: none;
  right: -100px;
  top: 100px;
  cursor: pointer;
}

.owl-next span {
  position: absolute;
  display: block;
  background-image: url(./img/next.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 18px;
  left: 22px;
}

.owl-next::before {
  position: relative;
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0px 4px 16px rgba(24, 33, 43, 0.12);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.owl-prev:hover::before,
.owl-prev:focus::before,
.owl-next:hover::before,
.owl-next:focus::before {
  box-shadow: 0px 4px 16px rgba(24, 33, 43, 0.35);
}

.owl-prev:active::before,
.owl-next:active::before {
  background-color: #ECF0F8;
  box-shadow: none;
}

.poln-wrapper {
  position: relative;
  padding: 110px 0;
}

.poln {
  position: relative;
}

.poln--clouds {
  position: absolute;
  top: -100px;
  left: -300px;
}

.news-wrapper {
  padding: 110px 0;
  background-color: #F7F8FD;
}

.news-wrapper h2 {
  margin-bottom: 46px;
}

.news-elem {
  position: relative;
  width: 350px;
  min-height: 138px;
  height: auto;
  padding: 17px 20px;
  background: #FFFFFF;
  border-radius: 15px;
}

#newsNavContainer {
  position: relative;
}

#newsNavContainer .owl-prev,
#newsNavContainer .owl-next {
  top: 45px;
}

.news-elem--top {
  margin-bottom: 12px;
}

.news-elem--top span {
  font-family: 'Montserrat Regular';
  font-size: 10px;
  line-height: 12px;
  color: #A1A2AC;
}

.news-elem--content h3 {
  font-size: 1.4rem;
  line-height: 18px;
  margin-bottom: 6px;
}

footer {
  padding-top: 110px;
}

.footer-in {
  position: relative;
  z-index: 1;
  width: 276px;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 28px;
}

.footer-elem {
  background: #ECF0F8;
  width: 124px;
  height: 44px;
  border-radius: 5px;
  padding: 12px 20px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-elem:hover,
.footer-elem:focus {
  background-image: #F9F9F9;
  box-shadow: 5px 5px rgba(13, 23, 29, 0.1);
}

.footer-elem:active {
  box-shadow: none;
  background-color: #DDE4EF;
}

.footer-img {
  margin-top: -230px;
  position: relative;
  z-index: 0;
  width: 1320px;
  margin-left: 50%;
  left: -805px;
}

.footer-img img {
  position: relative;
  margin: 0 auto;
  display: block;
  left: -27px;
}

.footer-dawn {
  width: 100%;
  height: 46px;
  padding: 15px 0;
  background: #F7F8FD;
  margin-top: -40px;
}

.footer-dawn .footer-dawn--content {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #757890;
}

@media screen and (max-width: 1320px) {
  .owl-prev {
    left: -50px;
  }
  .owl-next {
    right: -50px;
  }
}

@media screen and (max-width: 1220px) {
  .owl-prev,
  .owl-next {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  section {
    margin: 0;
    width: 100%;
    padding: 0 15px;
  }
  nav {
    width: 360px;
  }
  .card-slide--elem,
  .card-elem--hover {
    padding: 30px 27px;
  }
  .card-elem--hover li {
    margin-top: 12px;
  }
  .card-slide--top,
  .faq-top,
  .review-top {
    flex-direction: column-reverse;
  }
  .card-slide--top h3,
  .faq-top h3,
  .review-top h3 {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #A1A2AC;
    margin-bottom: 22px;
    display: inline-block;
    margin-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .advantages--first-slide {
    margin-top: -40px;
  }
  .owl-wrapper-off {
    padding: 0 !important;
  }
  .owl-item {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1050px) {
  .advantages-elem {
    width: 100%;
  }
  nav {
    display: none !important;
  }
  .info-elem--content {
    width: 100%;
  }
  .info-elem--img {
    position: relative;
    margin: 20px 0;
  }
  .social-right {
    padding: 60px 20px;
    margin: 46px auto 0;
  }
  .social {
    flex-direction: column;
    align-items: baseline;
  }
  .social-left {
    width: 100%;
  }
  .faq-text {
    width: 100%;
    padding-right: 20px;
  }
  .step--top {
    flex-direction: column;
  }
  .activation-top--left {
    display: -webkit-box;
    display: flex;
    flex-direction: column-reverse;
  }
  .activation-top--left h3 {
    font-family: 'Montserrat Medium';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #A1A2AC;
    margin-bottom: 22px;
    display: inline-block;
    margin-left: 0;
  }
}

@media screen and (max-width: 950px) {
  .step--dawn {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .step-elem {
    width: 34%;
    margin-bottom: 22px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 850px) {
  .card-slide--dawn {
    flex-direction: column;
    align-items: center;
  }
  .card-slide--elem {
    width: 50%;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 680px) {
  .fact-elem,
  .fact-elem--content {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .card-slide--elem {
    width: 70%;
  }
  .step--dawn {
    justify-content: space-between;
  }
  .step-elem {
    padding-right: 0px;
    width: 210px;
  }
  .number {
    width: auto;
  }
  .number a {
    font-size: 0px;
  }
  .nav-l--p {
    margin-left: 0px;
  }
  .nav-l a img {
    width: 98px;
  }
  .social-right {
    width: 100%;
  }
  .social-media {
    width: 200px;
  }
  .ya-share2__list.ya-share2__list_direction_horizontal {
    flex-wrap: wrap;
  }
  .ya-share2__item {
    width: 33%;
  }
  .ya-share2__item:nth-child(1),
  .ya-share2__item:nth-child(2),
  .ya-share2__item:nth-child(3) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer-img {
    width: 1320px;
    left: -658px;
    margin-top: -190px;
  }
  .footer-img img {
    width: 100%;
  }
  .footer-in {
    width: 263px;
  }
  .fact-elem--img {
    width: 60px;
  }
  .info-elem--img {
    width: 100%;
  }
  .info-elem--img img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card-slide--elem {
    width: 100%;
    margin-bottom: 22px;
  }
  .card-elem--hover li {
    margin-top: 18px;
  }
  .step--dawn {
    flex-direction: column;
    align-items: center;
  }
  .step-elem {
    width: 250px;
  }
}
